/EcuacionCuadratica/target/
/Puntos/target/
/Puntos2/target/
/Hipotenusa/target/
/Alumnos/target/
/Boletos/target/
/IMC/target/
/Casting/target/
/Horoscopo/target/
/AdivinarNumero/target/
/Semana/target/
/Ascendente/target/
/Digitos/target/
/Primo/target/